<h2>Your Basket</h2>
<ul>
<% @basket.items.each do |item| %>
  <li><%= item.product.name %></li>
  <%= button_to 'Remove from Basket', item, method: :delete %>
<% end %>
</ul>

Total: <%= number_to_currency(@basket.total_cost) %>

